
.idea
*.iml
.checkstyle
build
target
bin
.settings
out
/build
/target/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.ear

#все равно под контролемЛ
out-test/

# virtual machine crash logs
hs_err_pid*

.gitignore
.idea/workspace.xml
.idea/modules.xml
testWebApp.iml
